<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8"/>
    <title>MainPage</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Hello World</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut cum dicta dolore dolorem, eveniet ex excepturi fugiat ipsa nemo omnis placeat quam quod sint, vero! Architecto aspernatur impedit placeat.
</div>
</body>
</html>